
body {
    background-image: url("imagen2.jpg");
    background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    
}

h1 {
    color: white;
    text-align: left;
    font-size: 35px;
}

h2 {
    color: Orange;
    text-decoration: underline;
 
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;

 }
div {
    line-height:10px;
    border: 5px solid Orange;
    width: 425px;
    padding: 5px;
    margin: 0;
   }
.right{
    float: right;
}